@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

body {
    height: 100vh;
    background-color: #E7F1F1;
    font-family: 'Poppins';
    display: flex;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70%;
}


.saved {
    width: 30%;
    border-left: solid;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: Black;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 80px;
}

header {
    font-size: 40px;
    font-weight: 700;
    margin-top: 25%;
    margin-bottom: 5%;
}

.palette {
    display: flex;
    justify-content: space-between;
}

.mini-palette {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxColor  {
   height: 200px;
   width: 200px;
   border: solid;
   border-width: 5px;
   display: flex;
   justify-content: flex-end;
   align-items: end;
   margin: 5px;
}

.unlock, .lock {
    height: 20%;
    width: 20%;
    padding: 2px;
}

.color-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color1 {
    background-color: #EA9999;
}
.color2 {
    background-color: #FACB9C;  
}
.color3 {
    background-color: #FFE59A;
}
.color4 {
    background-color: #B6D7A8;
}
.color5 {
    background-color: #A4C4CA;
}

.new-palette-button, .save-palette-button {
    border: 1px;
    padding: 10px 50px;
    margin: 0px 65px;;
    border-radius: 0 65px 0 65px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-size: 24px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    /* width: 400px */
}

.mini-color {
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px;
    border: solid;
}

.delete-icon {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.hidden {
   display: none;
}