@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    height: 100vh;
    background-color: #E7F1F1;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: Black;
    font-weight: 900;
}

.palette {
    display: flex;
    justify-content: space-between;
}

.boxColor  {
   height: 50px;
   width: 50px;
   border: solid;
}